<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="bookDao" class="com.examples.beans.BookDao">
		<property name="dataSource" ref="ds"/>
	</bean>
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/source_mantra_db"/>
		<property name="username" value="root"/>
		<property name="password" value="ClaraPark728!"/>
	</bean>
	<bean id="hibDao" class="com.examples.beans.HibernateDao">
		<property name="sf" ref="sf2"/>
	</bean>
	<bean id="sf2" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="annotatedClasses" value="com.examples.beans.Book"/>
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQL</prop>
			</props>
		</property>
	</bean>


</beans>